*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.second-div {
  background-color: #ffc017;
}

a {
  text-decoration: none;
  font-size: 15px;

  color: black;
}

p,
h3,
h2,
h4,
h5,
h6 {
  font-family: "Roboto";
}

#container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-container {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: center;
  background-color: #ffc017;
}

.navigation {
  width: 100%;
  max-width: 1080px;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  align-items: center;
}

.nav-bar nav {
  display: flex;
}
.div-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #191919;

  font-size: 14px;
  border: none;
}

.btn a {
  color: white;
}

.principal-description {
  display: flex;
  justify-content: center;
  background-color: #ffc017;
}

.m {
  position: absolute;
  right: 0;
  top: 4rem;
}

.title {
  width: 100%;
  display: flex;
  max-width: 1080px;
}

.t-flex {
  display: flex;
}
.ti-flex {
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.div-h1 {
  margin-bottom: 25px;
}

.div-h1 h1 {
  font-size: 100px;
}

.div-h3 {
  max-width: 450px;
  margin-bottom: 3rem;
}

.div-h3 h3 {
  font-size: 23px;
}

.btn2 {
  font-size: 20px;
  padding: 8px 40px;
  border-radius: 20px;
  background-color: #191919;
  border: none;
}

.btn2 a {
  color: white;
  font-size: 20px;
}

main {
  max-width: 1080px;
  margin-inline: auto;
}

.m-p-trend {
  margin-block: 3rem;
}

.foto-trending {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.flex-trend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 33%;
  display: flex;
  margin-bottom: 1em;
}
.card h3 {
  font-size: 30px;
  color: #efefef;
  font-weight: 600;
  font-family: sans-serif;
}
.card-flex {
  margin-left: 10px;
}

.num-foto {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.num-foto img {
  border-radius: 50%;
  width: 20px;
  cursor: pointer;
}

.num-foto h5 {
  margin-left: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.des h2 {
  font-size: 17px;
  margin-block: 10px;
  font-weight: bold;
  cursor: pointer;
}

.date-time {
  display: flex;
  column-gap: 5px;
  color: #8b8989;
  align-items: center;
}

.date-time p {
  font-size: 12px;
}

aside {
  display: flex;
  justify-content: center;
  width: 1080px;
  margin-inline: auto;
}

.content {
  display: flex;
  justify-content: center;
}

.div-article {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  max-width: 650px;
  margin: 20px 0 35px 0;
  max-height: 28vh;
  justify-content: space-between;
}

.last {
  margin-bottom: 50px;
}

.mini-article {
  min-width: 445px;
}

.img-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.img-container img {
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.square-img img {
  border-radius: 20%;
}

.img-container h4 {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.mini-article h2 {
  font-size: 21px;
  margin-block: 10px;
  font-weight: 600;
  cursor: pointer;
}
.mini-article p {
  font-size: 15px;
  line-height: 18px;
}

.mini-article > p {
  cursor: pointer;
}

.data-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.article-foot {
  display: flex;
  column-gap: 5px;
  align-items: center;
  color: #8b8989;
}

.article-foot p {
  font-size: 12px;
}

.btn3 {
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  color: #8b8989;
}

.btn3 a {
  color: #525252;
}

.bookmark {
  cursor: pointer;
}

.immagine {
  display: flex;
  justify-content: flex-end;
  max-width: 190px;
  margin-left: 15px;
}

.article img {
  max-width: 190px;
  max-height: 134px;
  cursor: pointer;
}

section {
  margin-left: 3em;
}

section h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.p-gray-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.p-gray-div a > button {
  border: 1px solid #d1d1d1;
  padding: 12px 18px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
}

.p-gray-div a,
footer a {
  color: #525252;
}

.div-section {
  padding-left: 8px;
  width: 380px;
  margin-bottom: 55px;
  position: sticky;
  top: 115px;
}

.div-section > div {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

footer {
  margin-top: 30px;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 27px;
  line-height: 35px;
}

.popup-element {
  position: relative;
  padding-right: 20px;
}

.popup {
  display: none;
  position: absolute;
  transform: translate(72px, -75px);
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #9b9b9b;
  box-shadow: 0 2px 0px rgb(223, 223, 223);
  width: 260px;
  max-height: 150px;
}

.popup-element:hover .popup {
  display: block;
}

.popup-flex2 {
  display: flex;
  align-items: center;
}

.popup-flex3 {
  margin-top: 4.5rem;
}

.popup-flex3-bord {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid #d1d1d1;
  padding-top: 6px;
}

.popup-flex3-bord p {
  font-size: 12px;
}

.popup-flex3-bord button {
  background-color: #1a8917;
  padding: 3px 10px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

@media screen and (min-width: 992px) and (max-width: 1150px) {
  .navigation {
    max-width: 900px;
  }

  .title {
    max-width: 900px;
  }

  main {
    max-width: 900px;
  }

  .num-foto h5 {
    font-size: 10.5px;
  }

  .des h2 {
    font-size: 14px;
  }

  aside {
    width: 900px;
    margin-inline: auto;
  }

  .article {
    width: 510px;
    max-width: none;
  }

  .mini-article {
    width: 320px;
    min-width: 0;
  }

  .article img {
    max-width: 177px;
  }

  .img-container h4 {
    font-size: 10px;
  }
  .mini-article h2 {
    font-size: 14px;
  }

  .mini-article p,
  .article-foot p {
    font-size: 11px;
  }

  a {
    font-size: 13px;
  }

  .div-section {
    padding-left: 0;
    width: 341px;
    top: 80px;
  }

  .p-gray-div a > button {
    padding: 10px 13px;
  }

  header {
    overflow: hidden;
    position: relative;
  }

  .m {
    left: 610px;
  }
}

/*  */

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navigation {
    max-width: 690px;
  }

  .title {
    max-width: 690px;
  }

  main {
    max-width: 690px;
  }

  .card {
    width: 48%;
    align-items: baseline;
  }

  .num-foto h5 {
    font-size: 14px;
  }
  .date-time {
    justify-content: space-between;
  }
  .date-time img {
    display: none;
  }

  .popup-element {
    padding-right: 0;
  }

  .trend-content {
    border-bottom: 1px solid #efefef;
    padding-bottom: 2rem;
  }

  aside {
    width: 690px;
    margin-inline: auto;
    flex-direction: column-reverse;
  }

  section {
    margin-left: 0;
  }

  .div-section {
    min-width: 690px;
    padding-left: 0;
    margin-bottom: 0;
  }

  footer {
    margin-top: 25px;
  }

  .article {
    min-width: 690px;
    max-height: 30vh;
  }

  .mini-article {
    width: 471px;
  }

  .mini-article h2 {
    font-size: 22px;
  }

  .mini-article p {
    font-size: 16px;
  }

  header {
    overflow: hidden;
    position: relative;
  }

  .m {
    left: 560px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .navigation {
    max-width: 560px;
  }

  .title {
    max-width: 580px;
    justify-content: center;
  }

  main {
    max-width: 550px;
  }

  .card {
    width: 48%;
    align-items: baseline;
  }

  .num-foto h5 {
    font-size: 10px;
  }

  .date-time {
    justify-content: space-between;
  }
  .date-time img {
    display: none;
  }

  .popup-element {
    padding-right: 0;
  }

  .trend-content {
    border-bottom: 1px solid #efefef;
    padding-bottom: 2rem;
  }

  .des h2 {
    font-size: 12px;
  }

  .date-time {
    justify-content: space-between;
  }
  .date-time img {
    display: none;
  }

  .popup-element {
    padding-right: 0;
  }

  .trend-content {
    border-bottom: 1px solid #efefef;
    padding-bottom: 2rem;
  }

  aside {
    width: 580px;
    margin-inline: auto;
    flex-direction: column-reverse;
  }

  section {
    margin-left: 0;
  }

  .div-section {
    min-width: 537px;
    padding-left: 0;
    margin-inline: auto;
    margin-bottom: 0;
  }

  footer {
    margin-top: 25px;
  }

  .article {
    min-width: 533px;
    max-height: 31vh;
  }

  .mini-article {
    min-width: 0;
    width: 330px;
  }

  .mini-article h2 {
    font-size: 15px;
  }

  .mini-article p {
    font-size: 12px;
  }

  a {
    font-size: 13px;
  }

  article img {
    max-width: 188px;
  }

  .immagine {
    margin-left: 10px;
  }

  header {
    overflow: hidden;
    position: relative;
  }

  .m {
    left: 490px;
  }
}

@media screen and (max-width: 576px) {
  .navigation {
    max-width: 400px;
  }

  .div-nav .none {
    display: none;
  }
  .div-nav :nth-of-type(2) {
    display: none;
  }
  .div-nav :nth-of-type(3) {
    display: none;
  }

  .title {
    max-width: 100%;
    justify-content: center;
  }

  .div-h1 h1 {
    font-size: 70px;
  }
  .div-h3 {
    max-width: 341px;
  }
  .div-h3 h3 {
    font-size: 18px;
  }

  main {
    max-width: 400px;
  }

  .card {
    width: 100%;
    align-items: baseline;
  }

  .num-foto h5 {
    font-size: 10px;
  }

  .date-time {
    justify-content: space-between;
  }
  .date-time img {
    display: none;
  }

  .popup-element {
    padding-right: 0;
  }

  .trend-content {
    border-bottom: 1px solid #efefef;
    padding-bottom: 2rem;
  }

  .des h2 {
    font-size: 12px;
  }

  .date-time {
    justify-content: space-between;
  }
  .date-time img {
    display: none;
  }

  .popup-element {
    padding-right: 0;
  }

  .trend-content {
    border-bottom: 1px solid #efefef;
    padding-bottom: 2rem;
  }

  aside {
    width: 100%;
    margin-inline: auto;
    flex-direction: column-reverse;
  }

  section {
    margin-left: 0;
  }

  .div-section {
    width: 410px;
    padding-left: 0;
    margin-inline: auto;
    margin-bottom: 0;
  }

  footer {
    margin-top: 25px;
  }

  .article {
    min-height: 33vh;
    width: 400px;
  }

  .mini-article {
    min-width: 0;
  }

  .mini-article h2 {
    font-size: 14px;
  }

  .mini-article p {
    font-size: 12px;
  }

  .article-foot p {
    font-size: 9px;
  }

  .btn3 {
    padding: 2px 5px;
  }

  a {
    font-size: 12px;
  }

  article img {
    max-width: 149px;
  }

  .immagine {
    margin-left: 10px;
  }

  .m {
    display: none;
  }
}
