*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.second-div {
  background-color: #ffc017;
}

a {
  text-decoration: none;
  font-size: 15px;

  color: black;
}

p,
h3,
h2,
h4,
h5,
h6 {
  font-family: "Roboto";
}

#container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-container {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: center;
  background-color: #ffc017;
}

.navigation {
  width: 100%;
  max-width: 1200px;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  align-items: center;
}

.nav-bar nav {
  display: flex;
}
.div-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #191919;

  font-size: 14px;
  border: none;
}

.btn a {
  color: white;
}

.principal-description {
  display: flex;
  justify-content: center;
  background-color: #ffc017;
}

.m {
  position: absolute;
  right: 0;
  top: 4rem;
}

.title {
  width: 100%;
  display: flex;
  max-width: 1200px;
}

.t-flex {
  display: flex;
}
.ti-flex {
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.div-h1 {
  margin-bottom: 25px;
}

.div-h1 h1 {
  font-size: 100px;
}

.div-h3 {
  max-width: 450px;
  margin-bottom: 3rem;
}

.div-h3 h3 {
  font-size: 23px;
}

.btn2 {
  font-size: 20px;
  padding: 8px 40px;
  border-radius: 20px;
  background-color: #191919;
  border: none;
}

.btn2 a {
  color: white;
  font-size: 20px;
}

main {
  max-width: 1380px;
  margin-inline: auto;
}

.trending {
  padding-inline: 52px;
}

.m-p-trend {
  margin-block: 3rem;
}

.foto-trending {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-inline: 20px;
}

.flex-trend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 30%;
  display: flex;
  margin-bottom: 1em;
}
.card h3 {
  font-size: 30px;
  color: #efefef;
  font-weight: 600;
  font-family: sans-serif;
}
.card-flex {
  margin-left: 10px;
}

.num-foto {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.num-foto img {
  border-radius: 50%;
  width: 20px;
  cursor: pointer;
}

.num-foto h5 {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.des h2 {
  font-size: 17px;
  margin-block: 10px;
  font-weight: bold;
  cursor: pointer;
}

.date-time {
  display: flex;
  column-gap: 5px;
  color: #8b8989;
  align-items: center;
}

.date-time p {
  font-size: 12px;
}

aside {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
}

.div-article {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  max-width: 650px;
  margin: 20px 0 35px 0;
  max-height: 28vh;
  justify-content: space-between;
}

.last {
  margin-bottom: 50px;
}

.mini-article {
  min-width: 445px;
}

.img-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.img-container img {
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.square-img img {
  border-radius: 20%;
}

.img-container h4 {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.mini-article h2 {
  font-size: 21px;
  margin-block: 10px;
  font-weight: 600;
  cursor: pointer;
}
.mini-article p {
  font-size: 15px;
  line-height: 18px;
}

.mini-article > p {
  cursor: pointer;
}

.data-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.article-foot {
  display: flex;
  column-gap: 5px;
  align-items: center;
  color: #8b8989;
}

.article-foot p {
  font-size: 12px;
}
/* .article-date {
}

.aricle-read {
} */

.btn3 {
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  color: #8b8989;
}

.btn3 a {
  color: #525252;
}

.bookmark {
  cursor: pointer;
}

.immagine {
  display: flex;
  justify-content: flex-end;
  max-width: 190px;
  margin-left: 15px;
}

.article img {
  max-width: 190px;
  max-height: 134px;
  cursor: pointer;
}

section {
  margin-left: 6em;
}

section h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.p-gray-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.p-gray-div a > button {
  border: 1px solid #d1d1d1;
  padding: 12px 18px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
}

.p-gray-div a,
footer a {
  color: #525252;
}

.div-section {
  padding-inline: 25px;
  width: 457px;
  margin-bottom: 55px;
  position: sticky;
  top: 115px;
}

.div-section > div {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

footer {
  margin-top: 30px;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 27px;
  line-height: 35px;
}
